<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sim.mapper.MomentContentMapper" >
  <resultMap id="BaseResultMap" type="sim.pojo.MomentContent" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="moment_id" property="momentId" jdbcType="VARCHAR" />
    <result column="sender_id" property="senderId" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="date" property="date" jdbcType="TIMESTAMP" />
  </resultMap>
</mapper>